# This file is managed by Ansible

confdir /etc/chrony/conf.d

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/chrony.drift

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

{% for ntp_host in ntp_servers %}
server {{ ntp_host }} iburst
{% endfor %}

# Specify directory for log files.
logdir /var/log/chrony

# Select which information is logged.
#log measurements statistics tracking

# Specify file containing keys for NTP authentication.
keyfile /etc/chrony/chrony.keys

# Save NTS keys and cookies.
ntsdumpdir /var/lib/chrony

# Get TAI-UTC offset and leap seconds from the system tz database.
leapsectz right/UTC

# Stop bad estimates upsetting machine clock.
maxupdateskew 100.0