[DEFAULT]
# Ban hosts for one hour:
bantime = 3600

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
banaction = iptables-multiport

[sshd]
enabled = true
maxretry = 5

{% if jails_dbserver is defined %}
[mysqld-auth]
enabled = true
maxretry = 4
{% endif %}