This server is managed with Ansible by CloudAlbania!

Server Info:

    FQDN        : {{ ansible_fqdn }}
    Group Names : {{ group_names | to_json  }}
    OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
    Kernel      : {{ ansible_kernel }}
    Platform    : {{ ansible_product_name }}
    Hypervisor	: {{ ansible_virtualization_type }}
    CPU type    : {{ ansible_processor[2] }}
    CPU cores   : {{ ansible_processor_cores }}
    CPU count   : {{ ansible_processor_count }}
    Memory      : {{ ansible_memtotal_mb }} MB
    IPv4        : {{ ansible_default_ipv4.address }}
    Vendor      : {{ ansible_system_vendor }}

Ansible was last run on: {{ ansible_date_time.date }}
